In [2]:
import sys
import os
import warnings
import pandas as pd
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
import pytest
import pyarrow.parquet as pq
import pyarrow.fs as fs
import pyarrow.compute as pc
import pyarrow.dataset as ds
import s3fs as fs3
import pyarrow as pa

In [7]:
import daphmeIO
import constants
import filters

# Test formats and folder structures

## Generate test dataset

## Import partitioned dataset (data 3)

In [4]:
column_names = pd.read_csv('../../data/sample2/sample2.csv', nrows=0).columns
column_names

Index(['uid', 'timestamp', 'latitude', 'longitude'], dtype='object')

In [ ]:
dataset = ds.dataset(path, format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()
df

## Functions that check integrity

In [5]:
path = '../../data/sample4/'

traj_cols = {'user_id':'user_id', 'latitude':'dev_lat', 'longitude':'dev_lon', 'datetime':'local_datetime'}

df = daphmeIO.from_file(path, traj_cols=traj_cols, format='csv')

In [11]:
df = filters.to_projection(df, latitude='dev_lat', longitude='dev_lon')

In [24]:
df['timestamp'] = df.local_datetime.astype(int) // 10**9

In [25]:
df

,user_id,dev_lat,dev_lon,local_datetime,x,y,timestamp
0,wizardly_joliot,38.321711,-36.667334,2024-01-01 14:29:00,-4.081789e+06,4.624973e+06,1704119340
1,wizardly_joliot,38.321676,-36.667365,2024-01-01 14:35:00,-4.081792e+06,4.624968e+06,1704119700
2,wonderful_swirles,38.321017,-36.667869,2024-01-01 15:06:00,-4.081849e+06,4.624874e+06,1704121560
3,youthful_galileo,38.321625,-36.666612,2024-01-01 08:47:00,-4.081709e+06,4.624961e+06,1704098820
4,youthful_galileo,38.321681,-36.666841,2024-01-01 09:59:00,-4.081734e+06,4.624969e+06,1704103140
...,...,...,...,...,...,...,...
25830,angry_spence,38.320399,-36.667438,2024-01-15 07:23:00,-4.081801e+06,4.624787e+06,1705303380
25831,angry_spence,38.320413,-36.667469,2024-01-15 07:29:00,-4.081804e+06,4.624789e+06,1705303740
25832,angry_spence,38.320384,-36.667455,2024-01-15 07:33:00,-4.081802e+06,4.624785e+06,1705303980
25833,angry_spence,38.320349,-36.667473,2024-01-15 07:39:00,-4.081804e+06,4.624780e+06,1705304340
25834,angry_spence,38.320947,-36.667530,2024-01-15 07:50:00,-4.081811e+06,4.624865e+06,1705305000

In [ ]:
u_sample = sample_users(path, format='parquet', frac_users=0.1, user_id='uid')

In [ ]:
sample_from_file(path, users = u_sample, format='parquet', user_id='uid')

In [ ]:
data = pd.DataFrame([[1, 39.984094, 116.319236, '2008-10-23 13:53:05'],
 [1, 39.984198, 116.319322, '2008-10-23 13:53:06'],
 [1, 39.984224, 116.319402, '2008-10-23 13:53:11'],
 [1, 39.984211, 116.319389, '2008-10-23 13:53:16']], columns = ['uid', 'latitude', 'longitude', 'time'])

In [ ]:
traj_cols = {'user_id':'uid',
         'latitude':'latitude',
         'longitude':'longitude',
            'datetime':'time'}
df = from_object(data, traj_cols)